<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cold.coordinatorlayoutdemo" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mix.MixActivity" />

        <activity android:name=".nested.NestedActivity" />
        <activity android:name=".nested1.NestedActivity1" />
        <activity android:name=".nested2.NestedActivity2" />
        <activity android:name=".nested3.NestedActivity3" />
        <activity android:name=".appbarlayout.AppBarLayoutActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".fanal.FinalActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity android:name=".viewpager.ViewPagerParallaxSnap"/>
        <activity android:name=".test.TestActivity"/>
        <activity android:name=".basebehavior.BaseBehaviorActivity" />
        <activity android:name=".stickyviewpager.StickyActivity" />
        <activity android:name=".userinfo.UserActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".project.ProjectActivity" />
        <activity android:name=".collapse.CollapseActivity" />
        
    </application>

</manifest>